# .gitignore
# ~/dotfiles/.gitignore   ($G)
#

# Updte MAY 8, 2023
#
#	TODO:
#		-	Fri May 20 22:24:14 PDT 2022
#		-	.Renviron (API keys) - how to save this file, but NOT to github?
#		-   Add quarto /docs/*html  but not other *html
#
#
#
# IF file has been put into index
# =================================
#   adding it into .gitignore later is NOT enough
#   must do:
#   git rm --cached <file>
#
#
# ========
## RULES
# ========
#  *.a    files (anywhere) end in .a
#   .a    the file ".a"  (anywhere)
#
# .R overhead (these exact files, in any directory)
# =============
.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata

# .Renviron has codes;  do NOT put on Github.   (Rprofile is ok on Github)
.Renviron

#	vim backups .Renviron~
.Renviron*
/home/jim/.config/nvim/backup/.Renviron*

# files ending in .RDS or .Rd (anywhere)
*.RDS
*.Rd
*.rds
*.csv
*.pdf
#   *.html       leave:  for quarto
*.log
*.json

# Ignore Files/dir that BEGIN with _ (_dir/ _script, _file.txt, etc.)
# (NOT ignore my_file)
_*

#   no AppImages
*.AppImage


# directories inside R projects
# =============
man/*
pdf/
data/*
inst/
.quarto/
.Rprog.user/*

#
# ignore these directories
# ==========================
r_legal/
vim-myhelp/
dev/
r_try_things_here/
PPPloans/
pkg_youtube_api/
jimTools/
rtweet/
PPP/
make_project/
AoC/
out/
output/


pkg_mp3_files/
pkg_yt_api/
r_rafael/
r_health_labs/
book_modern_dive/
opensecrets/
test_opensecrets/
CARES/
ALZ_legal/
ALZ/
medical/
JOB/
correspondence/
backup*/
.git/


# Google API
# ============
.httr-oauth
r_mp3/R/.httr-oauth
r_mp3/.httr-oauth
r_mp3/R/021_api_codes.R
r_mp3/R/021_api_codes.Rmd
zsh_project/CURL_examples/.secret


# Special
# =========
# plugin "jimrothstein/myhelp" - separate from rest of code/
vim-myhelp/
*.tar.gz
~/code/jimHelp/doc/*

# ------------
# *.appimage
# ------------
# should ignore nvim.appimage
*.appimage
*.AppImage
~/bin/nvim.appimage

tags


/.quarto/
