# .gitignore
# ~/dotfiles/.gitignore   ($G)
#
#
# JUNE 28, 2024
# update man and .rd files (past were ignored;  now included)
# Updte MAY 8, 2023
#
#	TODO:
# - .Renviron (API keys) - how to save this file, but NOT to github?
# -  Add quarto /docs/*html  but not other *html
#
#
#
## CAUTION:  if file already in index, MUST remove it ---- 

# To remove file has been put into index (and not pushed)
# =================================
#   adding it into .gitignore later is NOT enough
#   must do:
#   git rm --cached <file>
#
#
# ========
## RULES
# ========
#  *.a    files (anywhere) end in .a
#   .a    the file ".a"  (anywhere)
#
# .R overhead (these exact files, in any directory)
# =============
.Rproj.user
# goal:  ignore these files, esp when working on branch of existing github REPO
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rproj

# .Renviron has codes;  do NOT put on Github.   (Rprofile is ok on Github)
.Renviron

#	vim backups .Renviron~
.Renviron*
/home/jim/.config/nvim/backup/.Renviron*

# files ending in .RDS or .Rd  .json (anywhere,  except mainfest.json (connect.cloud posit needs)
*.RDS
# *.Rd   (admiral project requires)
*.rds
*.csv
*.pdf
#   *.html       leave:  for quarto
*.log
*.json
!manifest.json

# Ignore Files/dir that BEGIN with _ (_dir/ _script, _file.txt, etc.)
# (NOT ignore my_file)
_*
# do NOT ignore _snaps (testthat::expect_snaps)
!_snaps

#---------------
#   do not include AppImages
#---------------
*.AppImage
*.appimage


# directories inside R projects
# =============
# man/*  (admiral project requires)
!admiral/man/
pdf/
data/*
# 2024-04-21  as I understand, some files which do not belong elsewhere are to put here (inst/).  (example:  a mermaid diagram for beekeeper ecosystem)
#inst/
.quarto/
.Rprog.user/*

#
# ignore these directories
# ==========================
dev/
jimTools/
rtweet/
make_project/
AoC/
out/
output/
pkg_mp3_files/
pkg_yt_api/
r_rafael/
r_health_labs/
book_modern_dive/
opensecrets/
test_opensecrets/
CARES/
ALZ_legal/
ALZ/
medical/
JOB/
correspondence/
backup*/
# jr removed;  need workflows, hooks etc
#.git/


# Google API
# ============
.httr-oauth
r_mp3/R/.httr-oauth
r_mp3/.httr-oauth
r_mp3/R/021_api_codes.R
r_mp3/R/021_api_codes.Rmd
zsh_project/CURL_examples/.secret


# Special
# =========
# plugin "jimrothstein/myhelp" - separate from rest of code/
vim-myhelp/
*.tar.gz
~/code/jimHelp/doc/*

# ------------
# *.appimage
# ------------
# should ignore nvim.appimage
*.appimage
*.AppImage
~/bin/nvim.appimage

tags


/.quarto/

# EXCEPTIONS:
# DO back up _quarto.yml files
!_quarto.yml
.aider*
